<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="x2ts tests">
            <file>tests/ToolkitTest.php</file>
            <file>tests/ValidatorTest.php</file>
            <file>tests/ComponentFactoryTest.php</file>
            <file>tests/LoggerTest.php</file>
            <file>tests/EventTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
</phpunit>